body{
	font-size:13px;
}
h1, h2, h3, h4, h5, h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
}
.body-wapper{
	width:95%;
	margin: 0 auto;
}
.content-wrapper{

  width: 100%;
  height: fit-content;
  align : center;

}
.main-text{
	font-size : 13px;
	margin : 0 auto;
	padding : 10px;
	width : 90%;
	border : 1px solid #EDEDED;
	margin: 20px auto ;
}
.answer-title{
	margin : 0 auto;
	font-size: 13px;
	padding:10px;
	width :90%;
	background-color:#EEEEEE;
}
.answers{
	margin : 0 auto;
	font-size: 13px;
	padding:10px;
	width :90%;
	background-color:#EEEEEE;
}
.summit-button-wrapper{
	width: 100%;
	height:fit-content;

}
.summit-button{
	width: 100px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	border: 2px solid #3f87a6;
	margin: 15px auto;
	font-weight: 700;

}
.result{
	visibility: hidden;
}
.score-details-wrapper{
	width:fit-contents;

}
.score-details{
	width:95%;
	height:20px;

}
.score-header{
	float:left;
	width: 23%;
	font-size:12px;
	text-align:center;
	border : 1px solid #3f87a6;
}
.score-header-wrong{
	float:left;
	width: 23%;
	font-size:12px;
	text-align:center;
	color: #FF0000;
	border : 1px solid #3f87a6;
}
.text-score{
	font-size: 18px;
	margin-bottom : 15px;
}
.text-level{
	font-size: 18px;
}
.text-level span{
	color:#FF0000;
}
